<footer>
  <div class="footer-content">
    <div class="footer-logo">
      <!-- Coloque aqui o seu logotipo ou nome da empresa -->
      Nossas Redes Sociais
    </div>
    <nav class="footer-links">
      <ul>
        <li>
          <a href="#"><fa-icon [icon]="faHome"></fa-icon></a>
        </li>
        <li>
          <a href="#"><fa-icon [icon]="instagram"></fa-icon></a>
        </li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">Linkendin</a></li>
      </ul>
    </nav>
  </div>
</footer>
<div class="footer-copyright text-center py-3">
  <span class="text-light">&copy; 2023 Copyright: </span>
  <a href="#" class="text-light">Alessandro N. Sousa</a>
</div>
