<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="turmaACC">
      <h2 data-cy="turmaACCDetailsHeading"><span jhiTranslate="controleDeAccApp.turmaACC.detail.title">Turma ACC</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ turmaACC.id }}</span>
        </dd>
        <dt><span jhiTranslate="controleDeAccApp.turmaACC.nome">Nome</span></dt>
        <dd>
          <span>{{ turmaACC.nome }}</span>
        </dd>
        <dt><span jhiTranslate="controleDeAccApp.turmaACC.inicio">Inicio</span></dt>
        <dd>
          <span>{{ turmaACC.inicio | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="controleDeAccApp.turmaACC.termino">Termino</span></dt>
        <dd>
          <span>{{ turmaACC.termino | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/turma-acc', turmaACC.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
